<a class="btn btn-light" data-bs-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent">
    <f:if condition="{record.backendtitle}">
        <f:then><h3>{record.backendtitle} <core:icon identifier="actions-caret-down" size="small" /></h3></f:then>
        <f:else><h3>Modal (id={record.uid}) <core:icon identifier="actions-caret-down" size="small" /></h3></f:else>
    </f:if>
</a>

<div class="collapse" id="collapseContent">
    <div class="card card-body">
        <f:if condition="{record.tx_tt3modal_openafter_active}">
            <h4>Opening</h4>
            <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_openafter" />:</strong>
            {record.tx_tt3modal_openafter} ms<br>

            <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_openscrolling" />:</strong>
            {record.tx_tt3modal_openscrolling} px<br>
            <hr style="opacity: 0.2">
        </f:if>

        <h4>Closing</h4>
        <f:if condition="{record.tx_tt3modal_closeafter_active}">
            <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_closeafter" />:</strong>
            {record.tx_tt3modal_closeafter} ms<br>

            <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_closescrolling" />:</strong>
            {record.tx_tt3modal_closescrolling} px<br>
            <br>
        </f:if>

        <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_closebackdrop" />:</strong>
        <f:if condition="{record.tx_tt3modal_closebackdrop} == 0">
            <f:then>off</f:then>
            <f:else>on</f:else>
        </f:if>
        <hr style="opacity: 0.2">

        <h4>General</h4>

        <f:if condition="{record.tx_tt3modal_width} > 0">
            <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_width" /></strong>
            {record.tx_tt3modal_width} px<br>
        </f:if>

        <f:if condition="{record.tx_tt3modal_link}">
            <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_link" />:</strong>
            <span class="d-inline"><f:link.typolink parameter="{record.tx_tt3modal_link}" /></span>
            <br>
        </f:if>

        <f:if condition="{record.tx_tt3modal_media}">
            <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_media" />:</strong>
            <f:for each="{record.tx_tt3modal_media}" as="item">
                <f:image image="{item}" maxHeight="150"/>
                {item.name} (id={item.originalFile.uid})
            </f:for>
            <br>
        </f:if>
        <hr style="opacity: 0.2">

        <f:if condition="{record.tx_tt3modal_content}">
            <h4>Content Elements</h4>
            <f:for each="{record.tx_tt3modal_content}" as="item">
                <ul>
                    <li>
                        <strong>{item.CType}:</strong>
                        <f:if condition="{item.header}">
                            <f:then>{item.header}</f:then>
                            <f:else>
                                <f:if condition="{item.bodytext}">
                                    {item.bodytext -> f:format.crop(maxCharacters: 45)}
                                </f:if>
                            </f:else>
                        </f:if>
                        (id={item.uid})<br/>
                    </li>
                </ul>
            </f:for>
        </f:if>
    </div>
</div>

