<f:if condition="{backendtitle}">
    <h3>{backendtitle}</h3>
</f:if>

<a class="btn btn-light w-100" data-bs-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent">
    Details
</a>

<div class="collapse" id="collapseContent">
    <div class="card bg-light border-light card-body">
        <f:if condition="{tx_tt3modal_openafter_active}">
            <h4>Opening</h4>
            <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_openafter" />:</strong>
            {tx_tt3modal_openafter} ms<br>

            <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_openscrolling" />:</strong>
            {tx_tt3modal_openscrolling} px<br>
            <hr style="opacity: 0.2">
        </f:if>

        <h4>Closing</h4>
        <f:if condition="{tx_tt3modal_closeafter_active}">
            <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_closeafter" />:</strong>
            {tx_tt3modal_closeafter} ms<br>

            <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_closescrolling" />:</strong>
            {tx_tt3modal_closescrolling} px<br>
            <br>
        </f:if>

        <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_closebackdrop" />:</strong>
        <f:if condition="{tx_tt3modal_closebackdrop} == 0">
            <f:then>off</f:then>
            <f:else>on</f:else>
        </f:if>
        <hr style="opacity: 0.2">

        <h4>General</h4>

        <f:if condition="{tx_tt3modal_width} > 0">
            <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_width" /></strong>
            {tx_tt3modal_width} px<br>
        </f:if>

        <f:if condition="{tx_tt3modal_link}">
            <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_link" /></strong>
            {tx_tt3modal_link}<br>
        </f:if>

        <f:if condition="{tx_tt3modal_media}">
            <strong style="display:contents"><f:translate key="LLL:EXT:tt3_modal/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3modal_media" />:</strong>
            <f:for each="{tx_tt3modal_media}" as="item">
                <f:for each="{item.uid_local}" as="file">
                    {file.title} (id={item.uid})
                </f:for>
            </f:for>
            <br>
        </f:if>
        <hr style="opacity: 0.2">

        <f:if condition="{tx_tt3modal_content}">
            <h4>Content Elements</h4>
            <f:for each="{tx_tt3modal_content}" as="item">
                <ul>
                    <li>
                        <strong>{item.CType.0}:</strong>
                        <f:if condition="{item.header}">
                            <f:then>{item.header}</f:then>
                            <f:else>
                                <f:if condition="{item.bodytext}">
                                    {item.bodytext -> f:format.crop(maxCharacters: 45)}
                                </f:if>
                            </f:else>
                        </f:if>
                        (id={item.uid})<br/>
                    </li>
                </ul>
            </f:for>
        </f:if>
    </div>
</div>